@font-face {
    font-family: 'eaglelake';
    src: url('font/Eagle_Lake/EagleLake-Regular.ttf');
}

*
{
	margin: 0px;
	padding: 0px;
	color: white;
}

.lake
{
	font-family: 'eaglelake';
}

.t960px
{
	width: 960px;
	margin: 0 auto;
}

body > header > section
{
	display: flex;
}

body
{
	background-image: url('../IMG/lion.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0 auto;
}

header
{
	text-align: center;
	display: flex;
	position: relative;
	height: 100vh;
}

nav
{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 60px;
	background-color: black;
	text-align: left;
	z-index: 5;
}

nav img
{
	margin: 5px 10px 5px 10px;
	height: 50px;
}

nav a
{
	position: relative;
	margin-left: 15px;
	top: -25px;
	text-decoration: none;
}

#sidemenu{
	display: none;
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100vh;
	width: 190px;
	background: black;
	text-align: center;
	color: white;
	z-index: 10;
}

#sidemenu ul
{
	margin: 60px 0px 50px 0px;
}

#sidemenu li
{
	list-style: none;
	margin: 10px 0px 10px 0px;
}

#sidemenu li a
{
	text-decoration: none;
}

#sidemenu hr
{
	width: 100px;
	margin: 0 auto;
}

#open_sidemenu
{
	position: fixed;
	right: 20px;
	top: 15px;
	text-decoration: none;
	z-index: 10;
}

#close_sidemenu
{
	position: fixed;
	right: 20px;
	top: 10px;
	text-decoration: none;
}

h1
{
	font-weight: lighter;
	font-size: 26pt;
}

#nom_desc
{
	display: inline-block;
	margin: auto;
	width: 500px;
}

#nom_desc hr
{
	margin: 5px 0px;
	width: 100%;
}

#nom_desc h1
{
	font-size: 33pt; 	
}

#nom_desc h2
{
	margin: 0px 0px 0px 0px;
	font-size: 15pt;
}

#bouton_commencer
{
	position: absolute;
	width: 100px;
	bottom: 0px;
	left: calc(100%/2 - 50px);
	text-decoration: none;
}

#apropo
{
	background: rgb(45, 127, 139);
	height: 100vh; 
	text-align: center;
}

#apropo h1
{
	text-decoration: underline;
	font-size: 26pt;
    text-align: center;
    padding: 60px 0em 0.4em 0em;
}

#desc_apropos > p
{
	position: relative;
	top: -35px;
}

.buttonblanc
{
	padding: 5px 10px 5px 10px;
	border: white solid 2px;
	border-radius: 2px;
	text-decoration: none;
	text-align: center;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.buttonblanc:hover
{
	background-color: rgba(255, 255, 255, 0.075);
}

#img_cv
{
	width: 200px;
	height:200px;
	margin: calc(450px/2 - 100px - 66.72px) 40px 40px 40px;
	display: inline-block;
}

#desc_apropos
{
	display: inline-block;
	width: calc(100% - 304px);
}



#competences
{
	text-align: center;
	padding: 0px 5% 10px 5%;
	background: rgb(15, 81, 90);
	height: 100vh; 
}

#competences h1
{
	text-decoration: underline;
	padding: 60px 0px 0px 0px;
	margin: 0px 0px 35px 0px;
}

.competence
{
	display: inline-block;
	width: 49%;
	margin: 20px 0px;
}

.competence h3
{
	width: 20%;
	display: inline-block;
	font-size: 12pt;
}

#section_points
{	
	width: 60%;
	display: inline-block;
}

.points
{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	display: inline-block;
	margin: 0px 0px 0px 20px;
}

.check
{
	display: inline-block;
	background: rgb(45, 127, 139);
	width: 20px;
	height: 20px;
	border-radius: 20px;
}

.uncheck
{
	display: flex;
	background: rgb(45, 127, 139);
	width: 20px;
	height: 20px;
	border-radius: 20px;
	position:relative;
	top: -4px;
}

.uncheck1
{
	margin: auto;
	display: inline-block;
	background: rgb(15, 81, 90);
	width: 12px;
	height: 12px;
	border-radius: 12px;	
}

#MesCreations
{
	background-color: rgb(45, 127, 139);
	padding: 25px;
	text-align: center;
	min-height: 100vh; 
}

#MesCreations h1
{
	text-decoration: underline;
	padding: 60px 0px 0px 0px;
	margin: 0px 0px 35px 0px;
}

#select_creations
{
	color: white;
	text-align: center;
	line-height: inherit;
	margin: 0px 0px 50px 0px;
}

#select_creations a
{
	text-decoration: none;
	font-size: 12px;
	position: relative;
	top: -25px;
}

#creation
{
	width: 960px;
	margin: 0 auto;
}

.creation
{
	display: inline-block;
	width: 200px;
	height: 250px;
	background-color: rgb(15, 81, 90);
	margin: 0px 10px 10px 0px;
}

.creation h1
{
	margin: 0px !important;
	padding: 0px !important;
	font-size: 12pt;
	text-decoration: none !important;
}

.creation p 
{
	display: none;
}

.creation img
{
	margin: 10px 0px 0px 0px;
	width: 150px;
	height: 200px;
}

#popup_creation
{
	position: fixed;
	left: calc(100vw/2 - 480px);
	top: calc(100vh/2 - 300px);
	width: 960px;
	height: 600px;
	background-color: transparent;
}

#popup_creation img
{
	margin: 5px;
	height: calc(100% - 10px);
	width: calc(50% - 10px);
}

#popup_creation > section.description_creation > p:nth-child(2)
{
	margin-top: 25px;
	word-wrap: break-word;
}

#popup_creation > section.description_creation > p:nth-child(3)
{
	margin-top: 25px;
	word-wrap: break-word;
}

#popup_creation .description_creation
{
	position: absolute;
	right: 10px;
	top: 10px;
	width: calc(50% - 10px);
	height: calc(100% - 20px);
	text-align: center;
	background-color: #0f515a;
}

#popup_creation_close
{
	position: absolute;
	top: 10px;
	right: 10px;
	height: 20px;
	width: 20px;
}

#contact
{
	text-align: center;
}

#contact span
{
	margin: 20px;
}

#contact p
{
	margin: 50px 0px 50px 0px;	
}