/* * * * * * * * * * * * * * * * *    GLOBAL    * * * * * * * * * * * * * * * * */
/*  * * * * * * * * * * * * * * * * --- -- --- * * * * * * * * * * * * * * * *  */

@font-face {
    font-family: 'eaglelake';
    src: url('font/Eagle_Lake/EagleLake-Regular.ttf');
}

@font-face {
    font-family: 'trebuchet';
    src: url('font/trebuc.ttf');
}

*
{
	margin: 0px;
	padding: 0px;
	color: white;
	box-sizing: border-box;
}

.lake
{
	font-family: 'eaglelake';
}

.buchet
{
	font-family: 'trebuchet';
}

.t960px
{
	width: 960px;
	margin: 0 auto;
}

body > header > section
{
	display: flex;
}

body
{
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../IMG/lion.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../IMG/lion.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../IMG/lion.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../IMG/lion.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	text-align: center;
	margin: 0 auto;
	animation-name: body_background;
	animation-duration: 10s;
}

@keyframes background
{
	0%
	{
		background-color: rgba(0,0,0,1);
	}
	50%
	{
		background-color: rgba(0,0,0,0.5);
	}
	100%
	{
		background-color: rgba(0,0,0,0);
	}
} 


#black_container
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0);
	animation-name: background;
	animation-duration: 5s;
}

header
{
	text-align: center;
	display: flex;
	position: relative;
	height: 100vh;
}

nav
{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 60px;
	background-color: black;
	text-align: left;
	z-index: 5;
}

nav img
{
	margin: 5px 10px 5px 10px;
	height: 50px;
}

nav a
{
	position: relative;
	margin-left: 15px;
	top: -25px;
	text-decoration: none;
}

h1
{
	font-weight: lighter;
	font-size: 26pt;
}

/* * * * * * * * * * * * * * * * *    SECTION DEPART    * * * * * * * * * * * * * * * * */
/*  * * * * * * * * * * * * * * * * --- --- -- --- --- * * * * * * * * * * * * * * * *  */

#sidemenu{
	display: none;
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100vh;
	width: 190px;
	background: black;
	text-align: center;
	color: white;
	z-index: 10;
}

#sidemenu ul
{
	margin: 60px 0px 50px 0px;
}

#sidemenu li
{
	list-style: none;
	margin: 10px 0px 10px 0px;
}

#sidemenu li a
{
	text-decoration: none;
}

#sidemenu hr
{
	width: 100px;
	margin: 0 auto;
}

#open_sidemenu
{
	position: fixed;
	right: 20px;
	top: 15px;
	text-decoration: none;
	z-index: 10;
}

#close_sidemenu
{
	position: fixed;
	right: 20px;
	top: 10px;
	text-decoration: none;
}

#nom_desc
{
	display: inline-block;
	margin: auto;
	width: 500px;
}

#nom_desc hr
{
	margin: 5px 0px;
	width: 100%;
}

#nom_desc h1
{
	font-size: 33pt; 	
}

#nom_desc h2
{
	margin: 0px 0px 0px 0px;
	font-size: 15pt;
}

@keyframes button_commencer
{
	from { bottom: -45px; }
	to { bottom: 45px; }
}

#bouton_commencer
{
	position: absolute;
	width: 100px;
	bottom: 45px;
	left: calc(100%/2 - 50px);
	text-decoration: none;
	animation-name: button_commencer;
	animation-duration: 2s;
}

#bouton_commencer:after
{
	background-image: url(images/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -2em;
    content: '';
    display: block;
    height: 1.5em;
    left: 50%;
    margin: 0 0 0 -0.75em;
    position: absolute;
    width: 1.5em;
}

.boutondepart:hover {
	text-shadow: 4px 4px 10px white;
}

/* * * * * * * * * * * * * * * * *    SECTION A PROPOS    * * * * * * * * * * * * * * * * */
/*  * * * * * * * * * * * * * * * * --- ---  --  --- --- * * * * * * * * * * * * * * * *  */

.titre_section
{
	text-align: center;
	width: 100%;
	padding-top: 120px;
}

#apropo
{
	background: rgb(45, 127, 139);
	height: 100vh; 
	text-align: center;
}

#apropo h1
{
	display: inline;
	font-size: 26pt;
    border-bottom: 2px solid white;
    padding: 0px 0px 30px 0px ; 
}

#desc_apropos > p
{
	position: relative;
	top: -35px;
	font-size: 15pt;
	font-family: trebuchet;
}

.boutonapropos
{
	padding: 5px 10px 5px 10px;
	border: white solid 2px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.boutonapropos:hover
{
	background-color: rgba(255, 255, 255, 0.075);
	box-shadow: 0px 0px 75px white;
}

#img_cv
{
	width: 220px;
	height:220px;
	margin: calc(100%/2 - 300px) 40px 40px 40px;
	display: inline-block;
}

#desc_apropos
{
	display: inline-block;
	width: calc(100% - 304px);
}

/* * * * * * * * * * * * * * * * *    SECTION COMPETENCES    * * * * * * * * * * * * * * * * */
/*  * * * * * * * * * * * * * * * * ---  ---  ---  ---  --- * * * * * * * * * * * * * * * *  */

#competences
{
	text-align: center;
	padding: 0px 5% 10px 5%;
	background: rgb(15, 81, 90);
	height: 100vh; 
}

#competences_2
{
	position: relative;
	bottom: -150px;
}

#competences h1
{
	display: inline;
	font-size: 26pt;
    border-bottom: 2px solid white;
    padding: 0px 0px 30px 0px ; 
}

.competence
{
	display: inline-block;
	width: 49%;
	margin: 20px 0px;
}

.competence h3
{
	width: 20%;
	display: inline-block;
	font-size: 12pt;
}

#section_points
{	
	width: 60%;
	display: inline-block;
}

.points
{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	display: inline-block;
	margin: 0px 0px 0px 20px;
}

.check
{
	display: inline-block;
	background: rgb(45, 127, 139);
	width: 20px;
	height: 20px;
	border-radius: 20px;
}

.uncheck
{
	display: flex;
	background: rgb(45, 127, 139);
	width: 20px;
	height: 20px;
	border-radius: 20px;
	position:relative;
	top: -4px;
}

.uncheck1
{
	margin: auto;
	display: inline-block;
	background: rgb(15, 81, 90);
	width: 12px;
	height: 12px;
	border-radius: 12px;	
}

/* * * * * * * * * * * * * * * * *    SECTION CREATIONS    * * * * * * * * * * * * * * * * */
/*  * * * * * * * * * * * * * * * * --- ---  ---  --- --- * * * * * * * * * * * * * * * *  */

#MesCreations
{
	background-color: rgb(45, 127, 139);
	padding: 0px 25px 25px 25px;
	text-align: center;
	min-height: 100vh;
}

#MesCreations h1
{
	display: inline;
	font-size: 26pt;
	border-bottom: 2px solid white;
	padding: 0px 0px 30px 0px;
}

#select_creations
{
	color: white;
	text-align: center;
	line-height: inherit;
	margin: 95px 0px 100px 0px;
}

#select_creations a
{
	text-decoration: none;
	font-size: 12px;
	position: relative;
	top: -25px;
}

#select_creations img
{
	margin: 0px 10px;
}

#creation
{
	width: 960px;
	margin: 0 auto;
}

.creation
{
	position: relative;
	display: inline-block;
	width: 200px;
	height: 250px;
	background-color: rgb(15, 81, 90);
	margin: 0px 10px 10px 0px;
	border-radius: 2px;
}

.creation:hover
{
	cursor: pointer;
	text-decoration: none;
	opacity: 0.8;
	box-shadow: 0px 0px 15px #0F515A;
}

#MesCreations .creation h1
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 0px !important;
	padding: 0px !important;
	font-size: 12pt !important;
	text-decoration: none !important;
	border-bottom: 1px solid rgba(0,0,0,0);
	width: 100%;
}

.creation p 
{
	display: none;
}

.creation img
{
	margin: 10px 0px 0px 0px;
	width: 150px;
	height: 200px;
}

#popup_creation
{
	position: fixed;
	left: calc(100vw/2 - 480px);
	top: calc(100vh/2 - 300px);
	width: 960px;
	height: 600px;
	background-color: transparent;
}

#popup_creation h1
{
	font-size: 26pt;
	border-bottom: 2px solid white;
	padding: 0px 0px 10px 0px;
}

#popup_creation img
{
	position: absolute;
	display: inline-block;
	vertical-align: center;
	left: 0px;
	top: 0px;
	width: calc(50% - 10px);
	height: auto;
}

#popup_creation > section.description_creation > p:nth-child(2)
{
	margin-top: 25px;
	word-wrap: break-word;
}

#popup_creation > section.description_creation > p:nth-child(3)
{
	margin-top: 25px;
	word-wrap: break-word;
}

#popup_creation .description_creation
{
	position: absolute;
	right: 10px;
	top: 10px;
	width: calc(50% - 10px);
	height: calc(100% - 20px);
	text-align: center;
	background-color: #0f515a;
	padding: 25px 10px 0px 10px;
}

#popup_creation_close
{
	position: absolute;
	top: 10px;
	right: 10px;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.boutoncreations
{
	padding: 5px 10px 5px 10px;
	border: white solid 2px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.boutoncreations:hover
{
	background-color: rgba(255, 255, 255, 0.075);
	opacity: 0.5;
}

/* * * * * * * * * * * * * * * * *    SECTION FOOTER    * * * * * * * * * * * * * * * * */
/*  * * * * * * * * * * * * * * * * --- --- -- --- --- * * * * * * * * * * * * * * * *  */

#contact
{	
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	padding: 50px 0px 50px 0px;
}

#contact span
{
	padding: 20px;
	margin-bottom: 20px;
}